@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: #011F4B;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 20px;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    font-family: 'Noto Serif', sans-serif;
}

nav a:hover {
    background-color: #03396C;
    color: white;
}

h1 {
    text-align: center;
    padding: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    text-align: center;
    color: white;
    background-color: #011F4B;
}

.Name-Footer {
    font-size: 20px;
}

.container {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.sidebar {
    width: 250px;
}

.card {
    background-color: white;
    padding: 20px;
    border: 2px solid #011F4B;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1;
}

.card h2 {
    background-color: #011F4B;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.card .content {
    display: flex;
    align-items: center;
    gap: 15px;
}


.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.align-image-right, .align-image-left {
  display: flex;
  align-items: center; /* Vertically aligns the content */
  justify-content: flex-start;
  padding: 20px;
}

.align-image-right img, .align-image-left img {
  margin-right: 20px; /* Adds space between image and text */
}

img{
  height: 200px;
}
