body{
    margin: 0;
    padding: 0;
    line-height:1.6;
    background-color: #f9f9f9;
    color:#333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
  background-color: #004466;
  color: white;
  padding: 1rem;
  text-align: center;
}

#course-title {
  display: block;
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  gap: 1.5rem;
}
nav a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

a {
    text-decoration: none;
    color:black;
    border: white;
    border-radius: 10px;
}

nav a:hover{
    background-color: white;
    color: #004466;
    border-radius: 10px;
}

main{
    align-items: center;
    width: 80%;
    display: grid;
    margin: 2rem auto;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

main h1{
    grid-column: 1 / -1;
    text-align: center;
}

.card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    border: 1px solid black;
}

footer {
    background-color: #004466;
    color: white;
    padding: 1rem;
    text-align: center;
}