@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 
 * {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    max-width: 100%;
 }

 nav {
    background-color: #002E5D;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 20px;
    padding: 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
  }
  
  /* Hover effect */
  nav a:hover {
    background-color: #0062B8;
    color: white;
  }

  h1{
    text-align: center;
    padding: 10px;
  }


  footer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 75px; /* Adjust height as needed */
    text-align: center; /* Ensures text inside <p> is centered */
    color: white;
    background-color: #002E5D;
}

.Name-Footer{
  font-size: 20px;
}

.container {
    padding-top: 10px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    gap: 10px; /* Adds space between the two <p> tags */
}