
@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@media (max-width: 768px) {
  body {
    font-size: 16px; /* slightly larger for readability on mobile */
  }

  header {
    padding: 0.75rem;
    font-size: 1.2rem;
  }

  nav { 
    display: flex;
     justify-content: space-around;
      align-items: center;
       gap: 1.5rem;
  }
  
  nav a { 
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 10px;
  }
  nav a:hover{ 
    background-color: white;
    color: #004466; 
    border-radius: 10px; 
  } 
  main{ 
    max-width: 840px; 
    margin: 0 auto; 
    display: grid; 
    gap: 1rem; 
    padding: 1rem; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  }
   footer { 
    background-color: #004466; 
    color: white;
    padding: 1rem; 
    text-align: center; }
}
